<footer>
  <div class="content has-text-centered">
    <p>
      <strong>Portfolio</strong> by <a href="https://github.com/obsinqsob01">Luis Contreras :triangular_flag_on_post: Github Campus Expert  </a>.
    </p>
    <a href="https://twitter.com/ellcontreras"><i class="fab fa-twitter"></i></a>
    <a href="https://github.com/Obsinqsob01"><i class="fab fa-github"></i></a>
    <a href="https://instagram.com/luisguerra495"><i class="fab fa-instagram"></i></a>
    <a href="mailto:luisguerra495@gmail.com"><i class="fas fa-envelope"></i></a>
  </div>
</footer>

</body>
</html>
