<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Luis Contreras Guerra</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="{{base_url}}/assets/css/index.css" />
</head>
<body>
    <nav class="navbar is-link">
        <div class="navbar-brand">
            <figure class="image is-48x48">
              <img class="is-rounded" src="https://avatars3.githubusercontent.com/u/19920165?s=460&v=4">
                <h3 class="subtitle is-3 has-text-white">Luis Contreras Guerra</h3>
            </figure>
        </div>
    </nav>
